#login {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  height: 90vh;
  padding: 20px;

  h1 {
    width: 80%;
    margin-bottom: 15px;
  }

  a {
    display: block;
    width: fit-content;
    margin: 10px auto;
    color: white;
    font-size: 14px;
  }

  .divider {
    display: flex;
    width: 100%;
    margin: 15px 0px;
    justify-content: space-between;
    align-items: center;
    border-radius: $border-radius;
    text-align: center;

    p {
      background-color: black;
      width: fit-content;
      color: white;
    }

    hr {
      height: 2px;
      flex-grow: 0.45;
    }
  }

  a {
    display: block;
    margin: 15px auto;
  }
}
